
@media (min-width:1600px) {
        .left-section {
            margin-left: 10%;
        }
    
        .foodly-icon {
            margin-left: 0;
        }
    
        .hamburger-menu-icon {
            height: 0;
        }
    }
  
@media (min-width:770px) and (max-width:1019px) {
  
        .hamburger-menu-icon {
            height: 32px;
            margin-left: 20px;
        }
    
        .foodly-icon {
            margin-left: 30px;
        }
    
        .explore-text {
            display: none;
        }
    
        .explore {
            display: none;
        }
    
        .left-section {
            width: 200px;
        }
    
        .right-section {
            flex: 1;
        }
    
        .search-button {
            width: 100%;
        }

        .right-section {
            margin-right: 20px;
        }
    
}
  
@media (max-width:769px) {
  
        .hamburger-menu-icon {
            height: 32px;
            margin-left: 20px;
        }
    
        .foodly-icon {
            display: none;
        }
    
        .mini-foodly-icon {
            display: flex;
            width: 36px;
            margin-left: 15px;
        }
    
        .explore-text {
            display: none;
        }
    
        .explore {
            display: none;
        }
    
        .left-section {
            width: 120px;
        }
    
        .right-section {
            flex: 1;
        }

        .search-button {
            width: 100%;
        }
    
        .right-section {
            margin-right: 20px;
        }
  
}